/* Set the theme colors */
:root{
    --mdc-theme-primary: #03a9f4;
    --mdc-theme-secondary: #ffab40;
    --mdc-theme-on-primary: #ebf2ff;
    --mdc-theme-on-secondary: #f5e5b3;
}


body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 550px;
    margin: 0 auto;
    padding: 70px 8px;
}

.emscripten-template--democard {
    padding: 8px;
}

.emscripten-template--canvas-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
}

.emscripten-template--democard-description {
    padding: .7rem 1rem;
}

.mdc-card {
    overflow: hidden;
    position: relative;
}


/* custom styles for single elements */

#labelCounterValue {
    text-align: center;
    padding: 20px;
    color: var(--mdc-theme-on-secondary);
    background-color: var(--mdc-theme-secondary);
}


#divLocationLabels {
    padding: 20px;
    color: var(--mdc-theme-on-primary);
    background-color: var(--mdc-theme-primary);
}

#canvasGlExample {
    display: block;
    position: relative;
    max-width: 100%;
    border-radius: 2px 2px 0 0 ;
}

/* CSS spinner */
.spinner {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 11px;
    bottom: 11px;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--mdc-theme-primary);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/* END of CSS spinner */